@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

/* advt */
.advt-card {
    background: #24242E;
    overflow: hidden;
    border-radius: 7px;
    display: flex;
    align-items: center;
    max-height: 98px;
    height: 100%;
    cursor: pointer;
}
.advt-card__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.advt-card__rating {
    align-self: flex-start;
}

/* Price */
.advt-card__price {
    background: #288BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    position: relative;
    margin-left: 10px;
}
.advt-card__price .price__triangles {
    position: absolute;
    left: -9px;
}
.advt-card__price .price__text {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.advt-card__list-title .list-title__img-wrapper {
    align-self: start;
}
.advt-card:hover .advt-card__price, .advt-card:hover .price__triangles path  {
    background: #FF28DD;
    fill: #FF28DD;
}

/* list title */
.list-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

/* user avatar */
.list-title__img-wrapper {
    width: 42px;
    height: 42px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.list-title__avatar {
    width: 100%;
    height: auto;
}

/* user info */
.list-title__info {
    margin-left: 8px;
}
.list-title__name, .list-title__game {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.list-title__name {
    color: #fff;
}
.list-title__game {
    color: #5D5D64;
}

/* user rating (need refactoring) */
.list-title__rating {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
}
.list-title__rating .rating__text {
    font-family: 'Nunito', sans-serif;
    color: #5D5D64;
    font-size: 15px;
    font-weight: 400;
}
.list-title__rating .rating__number {
    color: #fff;
    font-size: 17px;
}

/* circle */
.list-title__circle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-title__online .list-title__circle, .list-title__stream .list-title__circle {
    background: #0D0D12;
}
.circle__inner {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle__img {
    display: none;
    width: 6px; 
    height: 6px;
}
.list-title__stream .circle__img {
    display: flex;
}

/* the state of the circles */
.list-title__online .circle__inner {
    background: #288BFF;
}
.list-title__stream .circle__inner  {
    background: #FF28DD;
}
.list-title__stream .list-title__avatar {
    border: 3px solid #FF28DD;
    border-radius: 50%;
}